<div class="root">
    <div class="col">
        <div class="header">
            <img src="assets/nearby/main-logo.svg" class="main-logo">
            <input class="search-input" *ngIf="(keyboardIndex === 0) || (keyboardIndex === 2)"
                placeholder="選擇路線或手動輸入關鍵字" id="keyw" (keyup)="handleFilter()" disabled>
        </div>

        <div class="city-container" *ngIf="keyboardIndex === 1">
            <input class="city-input left" placeholder="選擇出發縣市" id="startPoint" disabled>
            <img src="assets/interbus/switch.svg" (click)="switchOnClick()">
            <input class="city-input right" placeholder="選擇到達縣市" id="endPoint" disabled>
        </div>
        <div class="input-area">
            <app-inter-base-keyboard *ngIf="keyboardIndex === 0" (emiter)="getEmitVal($event)">
            </app-inter-base-keyboard>
            <app-inter-from-to-keyboard *ngIf="keyboardIndex === 1" (emiter)="getEmitVal($event)">
            </app-inter-from-to-keyboard>
            <app-inter-more-keyboard *ngIf="keyboardIndex === 2" (emiter)="getEmitVal($event)">
            </app-inter-more-keyboard>
        </div>
    </div>


    <div class="output-area">
        <div class="output-title">{{currentCity}}</div>
        <ng-container *ngFor="let item of busDataFilter; let i = index;">
            <ng-container *ngFor="let subRoute of item.SubRoutes; let j = index;">
                <div class="bus-data-item" *ngIf="(subRoute.from2flag == true) && (subRoute.filterType == true)"
                    [ngStyle]="{ 'background-color': ((j % 2) == 0) ? '#1C1D1D' : '#131414' }"
                    (click)="itemOnClick(subRoute)">
                    <div class="bus-data-title">
                        {{subRoute.SubRouteName.Zh_tw}}
                    </div>
                    <div class="bus-data-content-container">
                        <div class="bus-data-content text">
                            {{subRoute.Headsign}}
                        </div>
                    </div>
                </div>
            </ng-container>
        </ng-container>
    </div>


</div>