<div class="row">
    <div class="input-btn line-opt">台北市</div>
    <div class="input-btn line-opt">新北市</div>
    <div class="input-btn line-opt">基隆市</div>
    <div class="input-btn line-opt">桃園市</div>
    <div class="input-btn line-opt">新竹市</div>
</div>

<div class="row">
    <div class="input-btn line-opt">新竹縣</div>
    <div class="input-btn line-opt">苗栗縣</div>
    <div class="input-btn line-opt">台中市</div>
    <div class="input-btn line-opt">南投縣</div>
    <div class="input-btn line-opt">彰化縣</div>
</div>

<div class="row">
    <div class="input-btn line-opt">雲林縣</div>
    <div class="input-btn line-opt">嘉義市</div>
    <div class="input-btn line-opt">嘉義縣</div>
    <div class="input-btn line-opt">台南市</div>
    <div class="input-btn line-opt">高雄市</div>
</div>

<div class="row">
    <div class="input-btn line-opt">屏東縣</div>
    <div class="input-btn line-opt">台東縣</div>
    <div class="input-btn line-opt">花蓮縣</div>
    <div class="input-btn line-opt">宜蘭縣</div>
    <div class="input-btn line-opt">澎湖縣</div>
</div>

<div class="row">
    <div class="input-btn line-opt">金門縣</div>
    <div class="input-btn line-opt">連江縣</div>
    <div class="input-btn back">回上一頁</div>
</div>