<div class="row">
    <div class="input-btn line-opt" (click)="cityOnClick($event.target.innerText)">臺北市</div>
    <div class="input-btn line-opt" (click)="cityOnClick($event.target.innerText)">新北市</div>
    <div class="input-btn line-opt" (click)="cityOnClick($event.target.innerText)">基隆市</div>
    <div class="input-btn line-opt" (click)="cityOnClick($event.target.innerText)">桃園市</div>
    <div class="input-btn line-opt" (click)="cityOnClick($event.target.innerText)">新竹市</div>
</div>

<div class="row">
    <div class="input-btn line-opt" (click)="cityOnClick($event.target.innerText)">新竹縣</div>
    <div class="input-btn line-opt" (click)="cityOnClick($event.target.innerText)">苗栗縣</div>
    <div class="input-btn line-opt" (click)="cityOnClick($event.target.innerText)">臺中市</div>
    <div class="input-btn line-opt" (click)="cityOnClick($event.target.innerText)">南投縣</div>
    <div class="input-btn line-opt" (click)="cityOnClick($event.target.innerText)">彰化縣</div>
</div>

<div class="row">
    <div class="input-btn line-opt" (click)="cityOnClick($event.target.innerText)">雲林縣</div>
    <div class="input-btn line-opt" (click)="cityOnClick($event.target.innerText)">嘉義市</div>
    <div class="input-btn line-opt" (click)="cityOnClick($event.target.innerText)">嘉義縣</div>
    <div class="input-btn line-opt" (click)="cityOnClick($event.target.innerText)">臺南市</div>
    <div class="input-btn line-opt" (click)="cityOnClick($event.target.innerText)">高雄市</div>
</div>

<div class="row">
    <div class="input-btn line-opt" (click)="cityOnClick($event.target.innerText)">屏東縣</div>
    <div class="input-btn line-opt" (click)="cityOnClick($event.target.innerText)">臺東縣</div>
    <div class="input-btn line-opt" (click)="cityOnClick($event.target.innerText)">花蓮縣</div>
    <div class="input-btn line-opt" (click)="cityOnClick($event.target.innerText)">宜蘭縣</div>
    <div class="input-btn line-opt" (click)="cityOnClick($event.target.innerText)">澎湖縣</div>
</div>

<div class="row">
    <div class="input-btn line-opt" (click)="cityOnClick($event.target.innerText)">金門縣</div>
    <div class="input-btn line-opt" (click)="cityOnClick($event.target.innerText)">連江縣</div>
    <div class="input-btn back" (click)="backOnClick()">回上一頁</div>
</div>