.root-phone {
    width: 100vw;
    height: 100%;
    background-color: #131414;
    position: relative;
    overflow: hidden;

    .header {
        width: 100%;
        height: 18.5907vh;
        background: #131414;
        box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.5);
        position: relative;
        display: flex;
        flex-direction: row;

        .back-arrow {
            position: absolute;
            top: 4.797vh;
            left: 6.6666vw;
            transform: translate(0, -50%);
            cursor: pointer;
            width: 3.3333vh;
            height: 3.3333vh;
        }

        .main-logo {
            position: absolute;
            width: 25.6vw;
            height: 6vh;
            top: 4.797vh;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .tab-container {
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 7.5vh;
            display: flex;
            flex-direction: row;
            justify-content: center;
        }
    }

    .main-container {
        position: absolute;
        top: 18vh;
        padding: 1vh;
        width: 100%;
        height: 77vh;
        overflow-y: auto;
        overflow-x: hidden;
        display: flex;
        flex-direction: column;
        padding: 1.8vh 4.2666vw;

        .ticket-container {
            width: 100%;
            height: 6vh;
            display: flex;
            flex-direction: row;
            gap: 7.46666vw;
            align-items: center;
            margin: 1.8vh;
            flex-wrap: wrap;

            .input-btn-no-animation {
                border: 1px solid #1cc8ee;
                filter: drop-shadow(0px 0px 2px #1cc8ee) drop-shadow(0px 0px 2px #1cc8ee);
                border-radius: 13px;
                background-color: #1c1d1d;
                height: 6vh;
                width: 21.6666vw;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 1vw;
                color: #1cc8ee;
            }

            .ticket-text {
                font-weight: 500;
                font-size: 2.36111vh;
                line-height: 2.7777vh;
                color: #f5f5f5;
            }
        }
    }
}
