<div class="row">
    <div class="input-btn city" (click)="cityOnClick()">
        <img src="assets/busInquire/location.svg" class="delete-icon" style="margin-right: 1vw;">選擇縣市
    </div>
    <div class="input-btn cutsom">手動輸入</div>

</div>
<div class="row">
    <div class="input-btn line-opt">紅</div>
    <div class="input-btn line-opt">藍</div>
    <div class="input-btn number-opt">1</div>
    <div class="input-btn number-opt">2</div>
    <div class="input-btn number-opt">3</div>
</div>

<div class="row">
    <div class="input-btn line-opt">綠</div>
    <div class="input-btn line-opt">棕</div>
    <div class="input-btn number-opt">4</div>
    <div class="input-btn number-opt">5</div>
    <div class="input-btn number-opt">6</div>
</div>

<div class="row">
    <div class="input-btn line-opt">橘</div>
    <div class="input-btn line-opt">小</div>
    <div class="input-btn number-opt">7</div>
    <div class="input-btn number-opt">8</div>
    <div class="input-btn number-opt">9</div>
</div>

<div class="row">
    <div class="input-btn line-opt">幹線</div>
    <div class="input-btn line-opt" (click)="moreOnClick()">更多</div>
    <div class="input-btn line-opt">C</div>
    <div class="input-btn number-opt">0</div>
    <div class="input-btn number-opt">
        <img src="assets/busInquire/delete.svg" class="delete-icon">
    </div>
</div>