.root {
    width: 100vw;
    height: 100%;
    background-color: #131414;
    overflow: hidden;

    .header {
        width: 100%;
        height: 16.66666vh;
        background: #131414;
        box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.5);
        position: relative;

        .main-logo {
            width: 10.625vw;
            height: 7.638888vh;
            margin-left: 7.8125vw;
            margin-top: 3.47222vh;
        }

        .main-title {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 2.22222vh;
            line-height: 3.3333vh;
            color: #f5f5f5;
        }
        .collect-container {
            position: absolute;
            right: 7.8125vw;
            top: 35%;
            width: 3.125vw;
            height: 5.208333vh;
            background: #1cc8ee;
            border-radius: 6px;
            display: flex;
            align-items: center;
            justify-content: center;
            .collect-icon {
                width: 1.25vw;
                height: 1.25vw;
            }
        }
    }

    .main-container {
        height: 67.083333vh;
        width: 84.375vw;
        overflow-y: auto;
        overflow-x: hidden;
        margin: 5.5555vh 7.8125vw 9.72222vh 7.8125vw;
        .bus-data-item {
            width: 100%;
            height: 9.72222vh;
            background-color: #1c1d1d;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-left: 1.25vw;
            border: none;
            outline: none;
            cursor: pointer;
            border-radius: 6px;

            .bus-data-title {
                font-size: 2.36111vh;
                line-height: 3.61111vh;
                color: #1cc8ee;
            }
            .bus-data-content-container {
                display: flex;
                flex-direction: row;

                white-space: nowrap;
                text-overflow: ellipsis;
                width: 80vw;
                overflow: hidden;

                .bus-data-content {
                    font-size: 1.9444vh;
                    line-height: 2.7777vh;
                    color: #f5f5f5;
                    display: flex;
                    flex-direction: row;
                }
            }
        }

        .hint {
            color: #f5f5f5;
        }
    }
    .collect-container:hover {
        animation-name: pulse;
        animation-duration: 1s;
    }
}
