<div class="root">
    <div class="header">
        <img src="assets/nearby/main-logo.svg" class="main-logo">
        <div class="main-title">我的附近</div>
    </div>

    <div class="main-container">
        <div class="bus-data-item">
            <div class="bus-data-title">
                衡陽路
            </div>
            <div class="bus-data-content">
                9, 12, 20, 49, 202, 202區, 205, 206, 212, 212夜, 212直, 218, 218直, 220中山幹線, 223, 231, 232, 234, 242, 243,
                245, 246, 249
            </div>
        </div>
    </div>
</div>