<div class="row">
    <div class="input-btn line-opt" (click)="btnOnClick($event.target.innerText)">F</div>
    <div class="input-btn line-opt" (click)="btnOnClick($event.target.innerText)">R</div>
    <div class="input-btn line-opt" (click)="btnOnClick($event.target.innerText)">T</div>
    <div class="input-btn line-opt" (click)="btnOnClick($event.target.innerText)">快</div>
    <div class="input-btn line-opt" (click)="btnOnClick($event.target.innerText)">內科</div>
</div>

<div class="row">
    <div class="input-btn line-opt" (click)="btnOnClick($event.target.innerText)">跳蛙</div>
    <div class="input-btn line-opt" (click)="btnOnClick($event.target.innerText)">通勤</div>
    <div class="input-btn line-opt" (click)="btnOnClick($event.target.innerText)">南軟</div>
    <div class="input-btn line-opt" (click)="btnOnClick($event.target.innerText)">先導</div>
    <div class="input-btn line-opt" (click)="btnOnClick($event.target.innerText)">夜間</div>
</div>

<div class="row">
    <div class="input-btn line-opt" (click)="btnOnClick($event.target.innerText)">市民</div>
    <div class="input-btn line-opt" (click)="btnOnClick($event.target.innerText)">其他</div>
    <div class="input-btn back" (click)="btnOnClick('back')">回上一頁</div>
</div>