<div class="row">
    <div class="input-btn line-opt">F</div>
    <div class="input-btn line-opt">R</div>
    <div class="input-btn line-opt">T</div>
    <div class="input-btn line-opt">快</div>
    <div class="input-btn line-opt">內科</div>
</div>

<div class="row">
    <div class="input-btn line-opt">跳蛙</div>
    <div class="input-btn line-opt">通勤</div>
    <div class="input-btn line-opt">南軟</div>
    <div class="input-btn line-opt">先導</div>
    <div class="input-btn line-opt">夜間</div>
</div>

<div class="row">
    <div class="input-btn line-opt">市民</div>
    <div class="input-btn line-opt">其他</div>
    <div class="input-btn back">回上一頁</div>
</div>