.root-tablet {
    width: 100vw;
    height: 100vh;
    background-color: #131414;
    overflow: hidden;

    .header {
        width: 100%;
        height: 10.156vh;
        background: #131414;
        box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.5);
        position: relative;
        display: flex;
        flex-direction: row;

        .back-arrow {
            cursor: pointer;
            width: 3.3333vh;
            height: 3.3333vh;
            position: absolute;
            left: 3.255vw;
            top: 50%;
            transform: translate(0, -50%);
        }

        .main-logo {
            width: 17.1875vw;
            height: 5.371vh;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }

        .main-text {
            position: absolute;
            top: 4.001vh;
            right: 2.083333vw;
            font-size: 2.2222vh;
            line-height: 3.3333vh;
            color: #f5f5f5;
        }
    }

    .main-container {
        height: 67.083333vh;
        width: 100%;
        overflow-y: auto;
        overflow-x: hidden;
        margin: 4vh 1.171vw;
        .bus-data-item {
            width: 96.7448vw;
            height: 9.72222vh;
            background-color: #1c1d1d;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-left: 1.25vw;
            border: none;
            outline: none;
            cursor: pointer;
            border-radius: 6px;
            position: relative;

            .bus-data-title {
                font-size: 2.36111vh;
                line-height: 3.61111vh;
                color: #1cc8ee;
            }
            .bus-data-content-container {
                display: flex;
                flex-direction: row;
                align-items: center;

                white-space: nowrap;
                text-overflow: ellipsis;
                width: 80vw;
                overflow: hidden;

                .bus-data-content {
                    margin-left: 1vw;
                    font-size: 1.9444vh;
                    line-height: 2.7777vh;
                    color: #f5f5f5;
                    display: flex;
                    flex-direction: row;
                }
            }
            .like-icon {
                position: absolute;
                right: 1.25vw;
                top: 50%;
                width: 2.2222vw;
                height: 2.2222vw;
                transform: translate(-50%, -50%);
            }
        }
    }
    .hint-container {
        display: flex;
        flex-direction: column;
        height: 60vh;
        overflow-y: hidden;
        position: absolute;
        top: 15vh;
        width: 100%;

        .hint {
            text-align: center;
            color: #f5f5f5;
            line-height: 3.3333vh;
            .reset-city {
                color: #1cc8ee;
            }
        }
    }
    .input-area {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 44.227886vh;
        background-color: #1c1d1d;
        border-radius: 10px;
        box-sizing: border-box;
        padding: 0 5.8666vw;
        z-index: 3;
    }
}
