<div class="root" *ngIf="deviceModeService.device == '電腦'">
    <div class="header">
        <img src="assets/nearby/back-arrow.svg" class="back-arrow" (click)="backOnClick()">
        <img src="assets/nearby/main-logo.png" class="main-logo" (click)="navigateToHome()">
        <div class="main-text">{{paramsRes.stationName}}</div>
    </div>


    <div class="main-container" *ngIf="paramsRes">
        <div class="bus-data-item" *ngFor="let item of queryRes;let i = index;"
            [ngStyle]="{ 'background-color': ((i % 2) == 0) ? '#1C1D1D' : '#131414' }" (click)="itemOnClick(item)">
            <div class="bus-data-title">
                {{item.RouteName.Zh_tw}}
            </div>
            <div class="bus-data-content-container">
                <div class="bus-data-title">
                    往
                </div>
                <div class="bus-data-content">
                    {{item.DestinationStopNameZh}}
                </div>
                <img *ngIf="item.favorFlag" class="like-icon" src="assets/common/like-focus.svg"
                    (click)="disFavorOnClick($event,item)">
                <img *ngIf="!item.favorFlag" class="like-icon" src="assets/common/like-unfocus.svg"
                    (click)="favorOnClick($event,item)">
            </div>
        </div>

        <div class="hint-container" *ngIf="resNotEmpty">
            <div class="hint">
                當前縣市："{{currentCity}}"，查無"<span>{{paramsRes.stationName}}</span>"資料<br>
                可能系統針對城市定位錯誤，請手動設定當前城市<br>
            </div>

            <div class="input-area">
                <app-inter-from-to-keyboard (emiter)="getEmitVal($event)">
                </app-inter-from-to-keyboard>
            </div>
        </div>
    </div>
</div>

<div class="root-tablet" *ngIf="deviceModeService.device == '平板'">
    <div class="header">
        <img src="assets/nearby/back-arrow.svg" class="back-arrow" (click)="backOnClick()">
        <img src="assets/nearby/main-logo.png" class="main-logo" (click)="navigateToHome()">
        <div class="main-text">{{paramsRes.stationName}}</div>
    </div>


    <div class="main-container" *ngIf="paramsRes">
        <div class="bus-data-item" *ngFor="let item of queryRes;let i = index;"
            [ngStyle]="{ 'background-color': ((i % 2) == 0) ? '#1C1D1D' : '#131414' }" (click)="itemOnClick(item)">
            <div class="bus-data-title">
                {{item.RouteName.Zh_tw}}
            </div>
            <div class="bus-data-content-container">
                <div class="bus-data-title">
                    往
                </div>
                <div class="bus-data-content">
                    {{item.DestinationStopNameZh}}
                </div>
                <img *ngIf="item.favorFlag" class="like-icon" src="assets/common/like-focus.svg"
                    (click)="disFavorOnClick($event,item)">
                <img *ngIf="!item.favorFlag" class="like-icon" src="assets/common/like-unfocus.svg"
                    (click)="favorOnClick($event,item)">
            </div>
        </div>
    </div>
    <div class="hint-container" *ngIf="resNotEmpty">
        <div class="hint">
            當前縣市："{{currentCity}}"，查無"<span>{{paramsRes.stationName}}</span>"資料
            可能系統針對城市定位錯誤，請手動設定當前城市<br>
        </div>
    </div>
    <div class="input-area" *ngIf="resNotEmpty">
        <app-inter-from-to-keyboard (emiter)="getEmitVal($event)">
        </app-inter-from-to-keyboard>
    </div>
</div>

<div class="root-phone" *ngIf="deviceModeService.device == '手機'">
    <div class="header">
        <img src="assets/nearby/back-arrow.svg" class="back-arrow" (click)="backOnClick()">
        <img src="assets/nearby/main-logo.png" class="main-logo" (click)="navigateToHome()">
        <div class="main-text">{{paramsRes.stationName}}</div>
    </div>


    <div class="main-container" *ngIf="paramsRes">
        <div class="bus-data-item" *ngFor="let item of queryRes;let i = index;"
            [ngStyle]="{ 'background-color': ((i % 2) == 0) ? '#1C1D1D' : '#131414' }" (click)="itemOnClick(item)">
            <div class="bus-data-title">
                {{item.RouteName.Zh_tw}}
            </div>
            <div class="bus-data-content-container">
                <div class="bus-data-title">
                    往
                </div>
                <div class="bus-data-content">
                    {{item.DestinationStopNameZh}}
                </div>
                <img *ngIf="item.favorFlag" class="like-icon" src="assets/common/like-focus.svg"
                    (click)="disFavorOnClick($event,item)">
                <img *ngIf="!item.favorFlag" class="like-icon" src="assets/common/like-unfocus.svg"
                    (click)="favorOnClick($event,item)">
            </div>
        </div>
    </div>
    <div class="hint-container" *ngIf="resNotEmpty">
        <div class="hint">
            當前縣市："{{currentCity}}"，查無"<span>{{paramsRes.stationName}}</span>"資料
            可能系統針對城市定位錯誤，請手動設定當前城市<br>
        </div>
    </div>
    <div class="input-area" *ngIf="resNotEmpty">
        <app-inter-from-to-keyboard (emiter)="getEmitVal($event)">
        </app-inter-from-to-keyboard>
    </div>
</div>